{body 
  {header
      .highlight {
        background-color: rgb(4, 4, 80);
       
          h1 {
             font-size: 32px;
             font-family: 'Lucida Sans'; 
             color: aqua; 
             text-align:center;
            }
          h2 {
             font-size: 16px;
             font-family:'Gill sans';
             color: aquamarine;
             text-align:center;
           }
       }      
   }  
   {nav
    ul {
        list-style: none;
        text-decoration:none;
        .highlight {
            background-color: rgba(18, 92, 228, 0.89);
           }
     }
   }
  {footer
    .highlight {
        background-color: rgb(4, 4, 80);
     }
     p {
        font-size: 16px;
        text-align: justify;
     }
   }
  }     




  /*  Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;  /* Establece la fuente del cuerpo */
  background-color: #f4f4f4;  /* Establece el color de fondo del cuerpo */
  color: #333;  /* Establece el color del texto del cuerpo */
  margin: 0;  /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el padding predeterminado del cuerpo */
}

/* Estilos para los encabezados (h1, h2, etc.) */
h1, h2, h3 {
  color: #007bff; /* Establece un color de texto para los encabezados */
  text-decoration: none; /* Elimina el subrayado de los encabezados */
  font-weight: bold; /* Hace que los encabezados sean más gruesos */
}

/* Estilos para los párrafos */
p {
  line-height: 1.6; /* Ajusta el espaciado entre líneas del texto */
  text-align: justify; /* Alinea el texto a ambos lados del párrafo */
}

/* Estilos para los enlaces */
a {
  color: #007bff; /* Establece el color de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para los enlaces al pasar el ratón */
a:hover {
  text-decoration: underline; /* Añade un subrayado al pasar el ratón */
  color: #0056b3; /* Cambia el color al pasar el ratón */
}

/* Estilos para las listas */
ul {
  list-style-type: square; /* Establece el tipo de marcador de lista */
  padding-left: 20px; /* Añade un espacio de 20px al lado izquierdo */
}

/* Estilos para los elementos de la lista */
li {
  margin-bottom: 5px; /* Añade un espacio de 5px entre los elementos de la lista */
}

/* Estilos para las imágenes */
img {
  max-width: 100%; /* Asegura que las imágenes no se salgan de su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */